<html>

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrapcss.css" />

  <script>
    function someHeavyOperation() {
      /* block for 10 seconds! */
      const target = Date.now() + 2 * 1000;
      for (; ;) {
        if (Date.now() > target) {
          break;
        }
      }
    }

    someHeavyOperation();

  </script>
</head>

<body>
  <div class="container">
    <!--Slides-->
    <div class="carousel-inner" id="products-offers" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div class="row">
          <% for(let i=0; i<3; i++) { %>
            <div class="col-4 product-index-box">
              <div class="single-product d-flex flex-column h-100">
                <a class="title-link" href="/products/<%=products[i].category.slug%>/<%=products[i]._id%>">
                  <img src="<%= products[i].imagePath %>" alt="Bag" class="img-fluid" /></a>
                <div class="product-info">
                  <a class="title-link" href="/products/<%=products[i].category.slug%>/<%=products[i]._id%>">
                    <h6 class="mt-2 mb-2">
                      <%= products[i].title %>
                    </h6>
                  </a>
                  <div class="price">$<%= products[i].price %><s class="slashed-price">$<%=
                          products[i].price+Math.floor(Math.random() * 30)+10 %></s></div>
                </div>
                <% if(products[i].available) {%>
                  <a href="/add-to-cart/<%=products[i]._id%>"
                    class="btn btn-block btn-secondary button-style mt-auto mb-2">
                    Add to Shopping Cart
                  </a>
                  <% } else { %>
                    <a href="#" class="btn btn-block btn-danger button-style-danger mt-2 mb-2">
                      Sold out
                    </a>
                    <%} %>
              </div>
            </div>
            <%}%>
        </div>
      </div>

    </div>
</body>

</html>